In [32]:
import geopandas as gpd
import pandas as pd

In [24]:
boundary = gpd.read_file('data/bma-subdistrict.geojson')

In [31]:
boundary = boundary[['tam_namt', 'geometry']]
boundary

       tam_namt                                           geometry
0       ชัยมงคล  MULTIPOLYGON (((100.18595 13.57565, 100.18577 ...
1     พระประโทน  MULTIPOLYGON (((100.08732 13.82443, 100.08797 ...
2       บ้านบ่อ  MULTIPOLYGON (((100.18749 13.52441, 100.18753 ...
3     หนองนกไข่  MULTIPOLYGON (((100.19867 13.67711, 100.19915 ...
4    สระกะเทียม  MULTIPOLYGON (((99.97532 13.79864, 99.97578 13...
..          ...                                                ...
472   ห้วยจรเข้  MULTIPOLYGON (((100.07221 13.81879, 100.07368 ...
473     แหลมบัว  MULTIPOLYGON (((100.16368 13.86813, 100.16369 ...
474     บางแก้ว  MULTIPOLYGON (((100.16900 13.79128, 100.16898 ...
475     สัมปทวน  MULTIPOLYGON (((100.19787 13.84285, 100.19785 ...
476   สระสี่มุม  MULTIPOLYGON (((100.05946 14.08978, 100.05970 ...

[477 rows x 2 columns]

In [33]:
# load data + join
df = pd.read_csv('data/output/groupby_region.csv')

pd.merge(boundary, df, how='right', left_on='tam_namt', right_on='subdistrict')\
.drop(columns='tam_namt').rename(columns={'subdistrict': 'subdist'})\
.to_file('data/output/geojson/groupby_region.geojson', driver='GeoJSON')

          province           district    subdistrict  count
0    กรุงเทพมหานคร             พระนคร       บวรนิเวศ      4
1      สมุทรปราการ             บางพลี        บางโฉลง     30
2          นนทบุรี          บางบัวทอง           ลำโพ      8
3    กรุงเทพมหานคร          ภาษีเจริญ        บางด้วน      8
4    กรุงเทพมหานคร          ลาดกระบัง  คลองสามประเวศ      8
..             ...                ...            ...    ...
433         นครปฐม            สามพราน      บางกระทึก      8
434  กรุงเทพมหานคร  ป้อมปราบศัตรูพ่าย       บ้านบาตร      2
435         นครปฐม          นครชัยศรี      ท่าตำหนัก      5
436       ปทุมธานี      เมืองปทุมธานี     บ้านกระแชง      1
437  กรุงเทพมหานคร          ภาษีเจริญ     คูหาสวรรค์      1

[438 rows x 4 columns]

In [44]:
df = pd.read_csv('data/output/groupby_region_product.csv')

pd.merge(boundary, df, how='right', left_on='tam_namt', right_on='subdistrict')\
.drop(columns='tam_namt').rename(columns={'subdistrict': 'subdist'})\
.to_file('data/output/geojson/groupby_region_product.geojson', driver='GeoJSON')

In [45]:
# df = pd.read_csv('data/output/groupby_region_id_product.csv')

# pd.merge(boundary, df, how='right', left_on='tam_namt', right_on='subdistrict')\
# .drop(columns='tam_namt').rename(columns={'subdistrict': 'subdist'})\
# .to_file('data/output/geojson/groupby_region_id_product.geojson', driver='GeoJSON')